<!-- Navbar -->
<nav class="navbar navbar-expand-md transparent navbar-dark fixed-top ">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link whiteText">THE NATURALIST</a>
      </li>
      <li class="nav-item">
        <a class="nav-link whiteText">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link whiteText">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link whiteText">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link whiteText">CONTACT</a>
      </li>
      <li class="nav-item">
        <button class="btn navbar-button ml-3"> SUBSCRIBE</button>
      </li>
    </ul>
  </div>
</nav>

<div>
  <img src="/assets/background2.jpg" class="bannerImg">
</div>

<div class="text-box text-center">
  <p class="m-0 col-md-12"><span class="radishText">Let's take things to </span><span class="whiteText text-size">next
      level</span></p>
</div>

<!-- texbox2 -->
<div class="row">
  <div class="col-md-7 text-center">
    <p class="mt-3 text-box2 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum.<br />
      <button class="mt-3 btn navbar-button m-0">GET TO KNOW ME</button>
    </p>

  </div>
  <div class="col-md-5 text-center p-0">
    <img class="box2-image" src="/assets/woman.jpg">
  </div>

  <!-- service card with Column Structure -->
  <div class="row bg-box3">
    <div class=container>
      <div class="text-center styling7 mx-5 mb-5 p-5">
        <p class="whiteText m-0"> So What's in it </p>
        <p class="whiteText m-0">for you?</p>
        <div class="row">
          <div class=" col-md-4 text-center whiteText ">
            <div class="borderCard">
              <p>SERVICE 1</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. </p>
              <button class="btn nav-button">SERVICE 1</button>
            </div>
          </div>

          <div class=" col-md-4 text-center whiteText ">
            <div class="borderCard">
              <p>SERVICE 1</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. </p>
              <button class="btn nav-button">SERVICE 1</button>
            </div>
          </div>

          <div class=" col-md-4 text-center whiteText ">
            <div class="borderCard">
              <p>SERVICE 1</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. </p>
              <button class="btn nav-button">SERVICE 1</button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <!-- carousel -->
  <div class="py-5 background">
    <div id="myCarousel" class="carousel slide " data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide " data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner text-center">
            <div class="carousel-item active">
              <img src="/assets/carousel.jpg" class="bannerImg">
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/assets/carousel2.jpg" class="bannerImg">
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/assets/carousel3.jpg" class="bannerImg">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>



  <!-- card -->
  <div class="container">

    <div class="text-box4">
      <p class="text-center m-0 radishText"> READ THE LATEST FROM </p>
      <p class="text-center m-0 radishText">the blog</p>
      <div class="row">
        <div class="col-md-4 text-center whiteText">
          <div class="cardBox">
            <img class="cardImage " src="/assets/laptop.jpg">
            <p class="radishText pt-2">Add your forth blog post title here</p>
          </div>
        </div>
        <div class="col-md-4 text-center whiteText">
          <div class="cardBox">
            <img class="cardImage " src="/assets/laptop.jpg">
            <p class="radishText pt-2">Add your forth blog post title here</p>
          </div>
        </div>
        <div class="col-md-4 text-center whiteText">
          <div class="cardBox">
            <img class="cardImage " src="/assets/laptop.jpg">
            <p class="radishText pt-2">Add your forth blog post title here</p>
          </div>
        </div>
      </div>

    </div>

  </div>


  <!-- FORM -->
  <div class="row form">
    <div class="col-md-4"></div>
    <div class="col-md-4 ">
      <p class="text-center">LET'S REACH YOUR GOAL <span class="radishText">together</span></p>
      <p class="whiteText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
        dolore magna aliqua.</p>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="no-space-break mb-0 radishText">First Name</label>
            <input placeholder="E.g Kat" class="form-control mb-2 w-100 radishText">
          </div>
          <div class="form-group">
            <label class="no-space-break mb-0 radishText">Email<span class="required">*</span></label>
            <input placeholder="E.g Kat" class="form-control w-100 radishText">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="no-space-break mb-0 radishText">Last Name</label>
            <input placeholder="E.g Jones" class="mb-2 form-control w-100 radishText">
          </div>
          <div class="form-group">
            <label class="no-space-break mb-0 radishText">Phone</label>
            <input placeholder="E.g 123 456 7890" class="form-control w-100 radishText">
          </div>

        </div>
      </div>
      <div class="col-md-12">
        <div class="mt-2">
          <label class="mb-0 block radishText">Message</label>
          <input placeholder="Type your Message here" class="w-100 mb-2 form-control radishText">
        </div>
        <div class="text-center">
          <button class="btn navbar-button m-2 lg">LET'S CONNECT</button>
        </div>
      </div>

    </div>
    <div class="col-md-4 p-0"></div>
  </div>
  <!-- facebook insta section -->

  <div class="row">

    <div class="text-box5 col-md-12">
      <p class="text-center whiteText m-0"> THE NATURALIST </p>
      <p class="text-center whiteText m-0">SERVICES | ABOUT | BLOG | CONTACT</p>
      <div class="text-center">
        <i class="fa fa-facebook mx-2" style="font-size:24px;color:white"></i>
        <i class="fa fa-twitter mx-2" style="font-size:24px;color:white"></i>
        <i class="fa fa-pinterest-p mx-2" style="font-size:24px;color:white"></i>
        <i class="fa fa-instagram" style="font-size:24px;color:white"></i>
      </div>

      <p class="text-center whiteText m-0">ALL RIGHTS RESERVED</p>
      <p class="text-center whiteText m-0">2019</p>

    </div>
  </div>