<div class="background">
    <div class="container">
        <p class="pt-3 pl-3" style="font-size: 25px;"><strong>Currrent Appointment</strong></p>
        <div class="row">
            <div class="col-md-4 ">
                <div class="mb-3 text-center patientCard">
                    <img class="patientImage mt-4" src="/assets/woman.jpg">
                    <h5 class="mb-0 mt-3">Roger Curtis</h5>
                    <p class="">Age: 36</p>
                    <button class="btn btn-success btn-lg mt-0 mb-4">Update</button>
                </div>
                <div class="pt-3 mb-3 patientInformation">
                    <h5 class="mb-3 pl-3">Information</h5>
                    <div class="col-6 d-inline-block">
                        <p class="font-weight-bold mb-0">Gender:</p>
                        <p class="font-weight-bold mb-0">Blood Type:</p>
                        <p class="font-weight-bold mb-0">Allergies:</p>
                        <p class="font-weight-bold mb-0">Diseases:</p>
                        <p class="font-weight-bold mb-0">Height:</p>
                        <p class="font-weight-bold mb-0">Weight:</p>
                        <p class="font-weight-bold mb-0">Patient ID:</p>
                        <p class="font-weight-bold mb-0">Last Visit:</p>
                    </div>
                    <div class="col-6 text-grey d-inline-block">
                        <p class="mb-0">Male</p>
                        <p class="mb-0">O+ Positive</p>
                        <p class="mb-0">Milk ,Penicilin</p>
                        <p class="mb-0">Diabetes ,Blood</p>
                        <p class="mb-0">1.78m</p>
                        <p class="mb-0">65 km</p>
                        <p class="mb-0">12487491</p>
                        <p class="mb-0">25th October</p>
                    </div>
                </div>

            </div>
            <div class="col-md-8 pl-0">
                <!-- Heart Rate -->
                <div class="row">
                    <div class="col-md-4 text-center pb-0">
                        <div class="patientIconCard ">
                            <img class="icon mt-3" src="/assets/site3/heart.png">
                            <p class="mb-0">Heart Rate</p>
                            <p class="pb-3"><strong>80</strong><span>bpm</span></p>
                        </div>
                    </div>

                    <div class="col-md-4 text-center pb-0">
                        <div class="patientIconCard">
                            <img class="icon mt-3" src="/assets/site3/thermometer.png">
                            <p class="mb-0">Body Temperature</p>
                            <p class="pb-3"><strong>36.5</strong><span>C</span></p>
                        </div>
                    </div>

                    <div class="col-md-4 text-center pb-0">
                        <div class="patientIconCard">
                            <img class="icon mt-3" src="/assets/site3/glucose.png">
                            <p class="mb-0">Glucose</p>
                            <p class="pb-3"><strong>100</strong><span>mg/dl</span></p>
                        </div>
                    </div>
                    <!-- Test Reports -->
                    <div class="col-md-12 my-2">
                        <div class="report">
                            <p class="pt-5" style="padding-left: 15px;"><strong>Test Reports</strong></p>
                            <div class="row">
                                <div class="col-md-4 d-inline-flex pb-5">
                                    <div class="testIconBackground text-center">
                                        <img class="testIcon" src="/assets/site3/clipboard3.png">

                                    </div>
                                    <div>
                                        <p class="mb-0 ml-2" style="font-size: 12px;font-weight: bold;">CT-scan Full
                                            Body</p>
                                        <p class="mb-0 ml-2" style="font-size: 9px">12th Feb 2020</p>
                                    </div>
                                </div>

                                <div class="col-md-4 d-inline-flex pl-3 pb-5">
                                    <div class="testIconBackground1 text-center">
                                        <img class="testIcon" src="/assets/site3/clipboard1.png">
                                    </div>
                                    <div>
                                        <p class="mb-0 ml-2" style="font-size: 12px;font-weight: bold;">CT-scan Full
                                            Body</p>
                                        <p class="mb-0 ml-2" style="font-size: 9px">12th Feb 2020</p>
                                    </div>
                                </div>

                                <div class="col-md-4 d-inline-flex pl-3 pb-5 ">
                                    <div class="testIconBackground2 text-center">
                                        <img class="testIcon" src="/assets/site3/clipboard2.png">
                                    </div>
                                    <div>
                                        <p class="mb-0 ml-2" style="font-size: 12px;font-weight: bold;">CT-scan Full
                                            Body</p>
                                        <p class="mb-0 ml-2" style="font-size: 9px">12th Feb 2020</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Prescription Section  -->
                    <div class="col-md-12 my-4">
                        <div class="report">
                            <p class="pt-5" style="padding-left: 15px;"><strong>Prescriptions</strong></p>
                            <div class="row">
                                <div class="col-md-4 pb-2">
                                    <p>Prescriptions</p>
                                    <div class="d-inline-flex">
                                        <div class="testIconBackground text-center">
                                            <img class="testIcon" src="/assets/site3/clipboard3.png">
                                        </div>
                                        <div>
                                            <p class="mb-0 ml-2" style="font-size: 12px;font-weight: bold;">CT-scan Full
                                                Body
                                            </p>
                                            <p class="mb-0 ml-2" style="font-size: 9px">12th Feb 2020</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 pb-2">
                                    <p>Date</p>
                                    <p>25th Feb 2020</p>
                                </div>
                                <div class="col-md-4  pb-2">
                                    <p>Duration</p>
                                    <p>3 Months</p>
                                </div>
                                <!-- Second Row of Prescription -->
                                <div class="col-md-4 pb-0 pb-5">
                                    <div class="d-inline-flex">
                                        <div class="testIconBackground text-center">
                                            <img class="testIcon" src="/assets/site3/clipboard3.png">
                                        </div>
                                        <div>
                                            <p class="mb-0 ml-2" style="font-size: 12px;font-weight: bold;">CT-scan Full
                                                Body
                                            </p>
                                            <p class="mb-0 ml-2" style="font-size: 9px">12th Feb 2020</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4  pb-5">
                                    <p>25th Feb 2020</p>
                                </div>
                                <div class="col-md-4  pb-5">
                                    <p>3 Months</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>